.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  ion-card {
    width: 100%;
    max-width: 400px;
  }

  .mb10{
    margin-bottom: 30px;
  }
