ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.landing-text {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;

    h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
        color: #007bff;
    }

    p {
        font-size: 1.2em;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .emoji {
        font-size: 1.5em;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
  }
  ion-card {
    width: 100%;
    max-width: 400px;
  }

  
.no-ripple {
    --ripple-color: transparent;
  --background-hover: transparent;
  }

  .logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    z-index: 100;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:1rem;
    margin-bottom: 1rem;
  }

  .mb10{
    margin-bottom: 30px;
  }